/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 html {
  scroll-behavior: smooth;
  scroll-padding-top: 56px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

h1{
  text-shadow: 2px 2px black;
  color: #EFEACF;
}

.sidenav-trigger {
  color: #EFEACF;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  color: rgba(255,255,255,.9);
  padding-top: 10vh;
  height: 95vh;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 0%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.mymap{
  width: 100%;
}

.input-field label {
  color: black;
}

.input-field input[type=text]:focus + label {
  color: black !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid black !important;
  box-shadow: 0 1px 0 0 black !important;
}

.input-field .prefix.active {
  color: black !important;
}
 

.icon-block{
  transition: transform .3s;
}

.icon-block:hover{
  transform: scale(1.2);
}

body{
  overflow: visible !important;
}


.donate{
  margin: 7%;
}

.mycol{
  background-color: #EFEACF;
  color: black;
}
.mycol:hover{
  color: #EFEACF;
  background-color: black;
}
.mytextcol{
  color: #EFEACF;
}